@page "/"
@inject ToastService toastService

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>You haven't logged in, so there are no favorite movies</p>
    </NotAuthorized>
</AuthorizeView>

@if (MovieDetails?.Any() ?? false)
{
    <h2>Favorite Movies</h2>
    <ul>
        
        @foreach (var movie in MovieDetails)
        {
            <li><a href="#" @onclick="@(() => ShowMovieDetails(movie))"
        @onclick:preventDefault="true" style="text-decoration:none;color:black;">
                @movie.Title (@movie.Year)<br />Actors (@movie.Actors)</a>
                <button type="button" @onclick="(() => RemoveFavoriteMovie(movie))">
                    Delete
                </button>
            </li>
        }
 
    </ul>
    @if (MovieAllDetails is not null) {
        <MovieDetails Movie="MovieAllDetails" />
    }

    @*<button type="button" @onclick="(() => GetRoles())">check admin</button>
    <div>@message</div>*@
       
}