@page "/search"
@inject ToastService toastService
@using Microsoft.AspNetCore.Components.QuickGrid


<label>Search</label>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-9">
            <InputText @bind-Value="SearchTitle" />
        </div>
        <div class="col-3">
            <button @onclick="SearchOMBD">Submit</button>
        </div>
    </div>
</div>

@if (OMDBMovies is not null)
{
    <QuickGrid Items="@movies">
        <PropertyColumn Property="@(m => m.imdbID)" />
        <PropertyColumn Property="@(m => m.Title)" />
        <PropertyColumn Property="@(m => m.Year)" />
        <TemplateColumn Title="Add movie">
            <button @onclick="@(() => AddMovie(context))">Add Movie</button>
        </TemplateColumn>
    </QuickGrid>
    <button @onclick="NextPage">Next Page</button>
    <p><strong>@message</strong></p>
}